/* General Styles */
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: #eef1ea;
}
.education-section {
  display: block; 
  visibility: visible;
  opacity: 1;
  position: relative; 
  width: 100%;         
}

.education-heading {
  font-weight: 700;
  font-size: 3rem;
  line-height: 1;
  display: block; 
  visibility: visible;
  opacity: 1;
  position: relative;  
  top: 0;              
  left: 0;             
  width: 100%;         
  background-color: #eef1ea; 
  padding: 10px;       
  text-align: center;  
  font-colour: #1f2937;
  z-index: 1;  
}

.education-subheading {
  display: block; 
  visibility: visible;
  opacity: 1;
  position: relative;  
  width: 100%;         
  background-color: #eef1ea; 
  padding: 10px;       
  font-size: 18px;     
  text-align: left;  
  z-index: 1;         
  font-colour: black;
  font-weight: normal; 
}

.font-bold {
    font-weight: bold;
    color: #1f2937;
    text-decoration: none; 
    underline: none;
}

a.font-bold {
    color: #1f2937; 
    font-weight: bold;
    text-decoration: none; 
    underline: none;
}

a.font-bold:hover {
    color: #1f2937;
    text-decoration: none;
}

.boldfont {
    font-weight: bold;
    color: #1f2937;
}

.carousel {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-color: black;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    font-colour: #4B5563;
}

.card {
    width: 100%;
    height: 200px;
    font-color: black;
    margin: 20px;
/*     border: 3px solid black; 
    border-color: #caacfb; */
    background-color:  #f1f2fb; 
/*     border-radius: 10px;  */
    padding: 0px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.card-body_team {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  padding: var(--padding-card, 2rem);
  gap: 0.5rem;
  background-color: #acd4beee;
}

.carousal .card {
    width: 100%;
    height: 200px;
}

.card img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.card card-title {
    font-color: #1f2937;
    font-size: 24px;
    font-weight: bold;
}

card-title {
    font-color: #1f2937;
    font-size: 24px;
    font-weight: bold;
}

.carousel img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.carousel .slick-slide {
    box-sizing: border-box; 
    padding: 0 10px;
}

.know-more {
    display: inline-block;
    margin-top: 10px;
    padding: 5px 10px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.know-more:hover {
    background-color: none;
}

/* Slick Carousel Arrows */
.slick-prev, .slick-next {
    z-index: 1;
    cursor: pointer;
    font-size: 0px; /* Adjust as needed */
    background: blue; /* Navy blue background */
    color: black; 
    border: black;
    border-radius: 50%; /* Round button */
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn {
  display: inline-flex;
  flex-shrink: 0;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  border-color: transparent;
  border-color: hsl(var(--n) / var(--tw-border-opacity));
  text-align: center;
  transition-property: color, background-color, border-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-text-decoration-color, -webkit-backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-text-decoration-color, -webkit-backdrop-filter;
  transition-duration: 200ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: var(--rounded-btn, 0.5rem);
  height: 3rem;
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  line-height: 1em;
  min-height: 3rem;
  font-weight: 600;
  text-transform: uppercase;
  text-transform: var(--btn-text-case, uppercase);
  -webkit-text-decoration-line: none;
  text-decoration-line: none;
  border-width: var(--border-btn, 1px);
  -webkit-animation: button-pop var(--animation-btn, 0.25s) ease-out;
          animation: button-pop var(--animation-btn, 0.25s) ease-out;
  --tw-border-opacity: 1;
  --tw-bg-opacity: 1;
  background-color: hsl(var(--n) / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: hsl(var(--nc) / var(--tw-text-opacity));
}

.btn-primary {
  --tw-border-opacity: 1;
  border-color: hsl(var(--p) / var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: hsl(var(--p) / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: hsl(var(--pc) / var(--tw-text-opacity));
}

.btn-primary:hover, .btn-primary.btn-active {
  --tw-border-opacity: 1;
  border-color: hsl(var(--pf, var(--p)) / var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: hsl(var(--pf, var(--p)) / var(--tw-bg-opacity));
}

.btn-primary:focus-visible {
  outline: 2px solid hsl(var(--p));
}

.btn-outline.btn-primary {
  --tw-text-opacity: 1;
  color: hsl(var(--p) / var(--tw-text-opacity));
}

.btn-outline.btn-primary:hover {
  --tw-border-opacity: 1;
  border-color: hsl(var(--pf, var(--p)) / var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: hsl(var(--pf, var(--p)) / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: hsl(var(--pc) / var(--tw-text-opacity));
}
.slick-prev {
    left: 10px;
}

.slick-next {
    right: 10px;
}

.avatar {
  position: relative;
  display: inline-flex;
}

.avatar > div {
  display: block;
  aspect-ratio: 1 / 1;
  overflow: hidden;
}

.avatar img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.avatar.placeholder > div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.slick-prev:focus, .slick-next:focus {
    outline: none; 
}

.px-10 {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

.pt-10 {
  padding-top: 2.5rem;
}

.items-center {
  align-items: center;
}

.w-36 {
  width: 9rem;
}

.rounded-full {
  border-radius: 9999px;
}

.text-center {
  text-align: center;
}

.w-72 {
  width: 18rem;
}
